n8n-backup-master.json
{
  "name": "Phoenix Master Hub [PRODUCTION]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phoenix",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "master-webhook",
      "name": "Phoenix Master Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Input validation and normalization\nconst input = $input.first().json;\nconst now = new Date();\n\n// Validate required fields\nconst eventType = (input.event || input.type || input.category || '').toLowerCase();\n\nif (!eventType) {\n  return {\n    json: {\n      valid: false,\n      error: 'Missing event type',\n      original: input,\n      timestamp: now.toISOString()\n    }\n  };\n}\n\n// Normalize common field names\nconst normalized = {\n  event_type: eventType,\n  timestamp: now.toISOString(),\n  date: now.toISOString().split('T')[0],\n  source: input.source || 'webhook',\n  valid: true,\n  \n  // Quest fields\n  quest_id: input.quest_id || input.questId || input.id || '',\n  quest_name: input.quest_name || input.name || input.questName || '',\n  xp: parseInt(input.xp) || 0,\n  gold: parseInt(input.gold) || 0,\n  category: input.category || '',\n  \n  // Emotion fields\n  emotion: input.emotion || '',\n  valence: parseFloat(input.valence) || 0,\n  arousal: parseFloat(input.arousal) || 0.5,\n  confidence: parseFloat(input.confidence) || 0.5,\n  \n  // Sale fields\n  platform: input.platform || '',\n  product: input.product || input.product_name || '',\n  amount: parseFloat(input.amount) || 0,\n  \n  // Chaos fields\n  modifier: parseFloat(input.modifier) || null,\n  streak_percent: parseFloat(input.streak_percent) || 50,\n  \n  // Routine fields\n  routine: input.routine || '',\n  \n  // Pass through original\n  _original: input\n};\n\nreturn { json: normalized };"
      },
      "id": "validate-input",
      "name": "Validate & Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-valid",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Validation failed', timestamp: $now.toISO() }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error-validation",
      "name": "Respond: Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        700
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "quest",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "quest"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "emotion",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "emotion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "sale",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sale"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "chaos",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "chaos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "routine",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "routine"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "health",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "health"
            }
          ],
          "fallbackOutput": {
            "name": "other"
          }
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "event-router",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Quest completion processing with full error handling\nconst input = $input.first().json;\n\ntry {\n  const questId = input.quest_id || 'UNKNOWN';\n  const category = questId.replace(/[0-9]/g, '') || input.category || 'L';\n  const baseXp = parseInt(input.xp) || 20;\n  const baseGold = parseInt(input.gold) || 10;\n  const chaosModifier = parseFloat(input._original?.chaos_modifier) || 1.0;\n  \n  const finalXp = Math.round(baseXp * chaosModifier);\n  const finalGold = Math.round(baseGold * chaosModifier);\n  \n  // Celebration tier logic\n  let tier = 'standard';\n  let rgb = [255, 215, 0];\n  let tts = `Quest complete! Plus ${finalXp} XP!`;\n  \n  if (finalXp >= 100) {\n    tier = 'epic';\n    rgb = [255, 0, 255];\n    tts = `EPIC QUEST COMPLETE! ${finalXp} XP earned! You are AMAZING!`;\n  } else if (finalXp >= 50) {\n    tier = 'great';\n    rgb = [0, 255, 0];\n    tts = `Great job! ${finalXp} XP earned!`;\n  }\n  \n  // Category mapping\n  const categories = {\n    'L': 'Literacy', 'M': 'Math', 'S': 'Science', 'T': 'Tech',\n    'H': 'History', 'LC': 'Logic', 'PF': 'Fitness', 'YM': 'Yoga',\n    'GM': 'Gross Motor', 'FM': 'Fine Motor', 'ER': 'Emotional',\n    'SS': 'Social', 'SC': 'Self-Care', 'MM': 'Mindfulness',\n    'HS': 'Home Skills', 'SA': 'Safety', 'MR': 'Money', 'TM': 'Time',\n    'VA': 'Visual Art', 'MP': 'Music'\n  };\n  \n  return {\n    json: {\n      success: true,\n      timestamp: input.timestamp,\n      date: input.date,\n      quest_id: questId,\n      quest_name: input.quest_name,\n      category_code: category,\n      category_name: categories[category] || category,\n      base_xp: baseXp,\n      base_gold: baseGold,\n      chaos_modifier: chaosModifier,\n      final_xp: finalXp,\n      final_gold: finalGold,\n      celebration_tier: tier,\n      led_rgb: rgb,\n      tts_message: tts,\n      source: input.source\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      error_type: 'quest_processing',\n      original: input\n    }\n  };\n}"
      },
      "id": "quest-processor",
      "name": "Process Quest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "quest-success-check",
      "name": "Quest Processed OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_quest_complete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "quest-ha-webhook",
      "name": "Quest -> Home Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:1883",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({topic: 'phoenix/quest/complete', payload: $json}) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "quest-mqtt-backup",
      "name": "Quest -> MQTT Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quest_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Quest_ID": "={{ $json.quest_id }}",
            "Quest_Name": "={{ $json.quest_name }}",
            "Category": "={{ $json.category_code }}",
            "XP": "={{ $json.final_xp }}",
            "Gold": "={{ $json.final_gold }}",
            "Chaos_Mod": "={{ $json.chaos_modifier }}",
            "Source": "={{ $json.source }}"
          }
        },
        "options": {}
      },
      "id": "quest-log-sheets",
      "name": "Quest -> Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Emotion processing with LED mapping\nconst input = $input.first().json;\n\ntry {\n  const emotion = (input.emotion || 'calm').toLowerCase();\n  \n  const emotionMap = {\n    'happy': {rgb: [255, 165, 0], brightness: 200, response: 'celebration'},\n    'calm': {rgb: [0, 100, 255], brightness: 150, response: 'maintain'},\n    'anxious': {rgb: [150, 100, 200], brightness: 120, response: 'comfort'},\n    'frustrated': {rgb: [255, 50, 50], brightness: 180, response: 'support'},\n    'withdrawn': {rgb: [100, 50, 150], brightness: 80, response: 'gentle'},\n    'peak': {rgb: [255, 215, 0], brightness: 255, response: 'celebrate'},\n    'distressed': {rgb: [255, 0, 0], brightness: 200, response: 'urgent'},\n    'encouraged': {rgb: [0, 255, 100], brightness: 180, response: 'reinforce'},\n    'focused': {rgb: [0, 200, 255], brightness: 170, response: 'maintain'},\n    'tired': {rgb: [100, 100, 150], brightness: 100, response: 'rest'}\n  };\n  \n  const config = emotionMap[emotion] || emotionMap['calm'];\n  \n  const ttsMessages = {\n    'happy': \"You're doing great! Keep shining!\",\n    'calm': \"Peaceful and focused. Perfect.\",\n    'anxious': \"I'm here with you. Deep breaths.\",\n    'frustrated': \"It's okay. Let's take a break.\",\n    'withdrawn': \"Would you like to do something together?\",\n    'peak': \"You're on fire today!\",\n    'distressed': \"I'm here. Let's find calm together.\",\n    'encouraged': \"You're growing stronger every day!\",\n    'focused': \"Great focus! Keep it up!\",\n    'tired': \"Rest is important too.\"\n  };\n  \n  const needsAlert = ['distressed', 'frustrated', 'anxious'].includes(emotion) && \n                     (input.valence < -0.4 || parseInt(input._original?.duration_minutes) >= 30);\n  \n  return {\n    json: {\n      success: true,\n      timestamp: input.timestamp,\n      emotion: emotion,\n      valence: input.valence,\n      arousal: input.arousal,\n      confidence: input.confidence,\n      led_rgb: config.rgb,\n      led_brightness: config.brightness,\n      response_type: config.response,\n      tts_message: ttsMessages[emotion] || \"I'm here with you.\",\n      needs_parent_alert: needsAlert,\n      context: input._original?.context || 'home',\n      source: input.source\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      error_type: 'emotion_processing',\n      original: input\n    }\n  };\n}"
      },
      "id": "emotion-processor",
      "name": "Process Emotion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "emotion-success-check",
      "name": "Emotion Processed OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_emotion_change",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "emotion-ha-webhook",
      "name": "Emotion -> Home Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        280
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Emotion_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Emotion": "={{ $json.emotion }}",
            "Valence": "={{ $json.valence }}",
            "Arousal": "={{ $json.arousal }}",
            "Response": "={{ $json.response_type }}",
            "Context": "={{ $json.context }}",
            "Alert_Sent": "={{ $json.needs_parent_alert }}"
          }
        },
        "options": {}
      },
      "id": "emotion-log-sheets",
      "name": "Emotion -> Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needs_parent_alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "emotion-alert-check",
      "name": "Needs Parent Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/services/notify/mobile_app_joshua_phone",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Emotion Alert - Ezra\",\n  \"message\": \"Ezra is feeling {{ $json.emotion }}. Valence: {{ $json.valence }}\",\n  \"data\": {\"priority\": \"high\", \"tag\": \"emotion-alert\"}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "emotion-parent-alert",
      "name": "Alert Parent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        260
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Sale processing\nconst input = $input.first().json;\n\ntry {\n  const platform = (input.platform || 'gumroad').toLowerCase();\n  const amount = parseFloat(input.amount) || 0;\n  \n  return {\n    json: {\n      success: true,\n      timestamp: input.timestamp,\n      date: input.date,\n      platform: platform,\n      product: input.product,\n      amount: amount,\n      currency: input._original?.currency || 'USD',\n      customer_email: input._original?.customer_email || input._original?.email || '',\n      order_id: input._original?.order_id || '',\n      celebration_message: `$${amount.toFixed(2)} sale from ${platform}!`,\n      led_rgb: [0, 255, 0],\n      source: input.source\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      error_type: 'sale_processing',\n      original: input\n    }\n  };\n}"
      },
      "id": "sale-processor",
      "name": "Process Sale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "sale-success-check",
      "name": "Sale Processed OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_sale",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "sale-ha-webhook",
      "name": "Sale -> Home Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sales_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Platform": "={{ $json.platform }}",
            "Product": "={{ $json.product }}",
            "Amount": "={{ $json.amount }}",
            "Customer": "={{ $json.customer_email }}",
            "Order_ID": "={{ $json.order_id }}"
          }
        },
        "options": {}
      },
      "id": "sale-log-sheets",
      "name": "Sale -> Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        580
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Chaos Orb calculation with moon phase\nconst input = $input.first().json;\n\ntry {\n  const now = new Date();\n  let modifier = parseFloat(input.modifier);\n  \n  if (!modifier || isNaN(modifier)) {\n    // Calculate moon phase\n    const refDate = new Date('2000-01-06T18:14:00Z');\n    const lunarMonth = 29.53058867;\n    const daysSinceRef = (now - refDate) / (1000 * 60 * 60 * 24);\n    const phase = (daysSinceRef % lunarMonth) / lunarMonth;\n    const moonFactor = 0.9 + Math.sin(phase * Math.PI) * 0.2;\n    \n    // Calculate modifier\n    const moodFactor = (input.confidence + input.valence * 0.3);\n    const streakBonus = (input.streak_percent / 100) * 0.2;\n    const randomNudge = (Math.random() - 0.5) * 0.1;\n    \n    modifier = 1.0 * 0.4 + moodFactor * 0.3 + moonFactor * 0.2 + streakBonus * 0.1 + randomNudge;\n    modifier = Math.max(0.8, Math.min(1.2, modifier));\n  }\n  \n  let message, mood;\n  if (modifier >= 1.1) {\n    message = `Fortune smiles upon you today! ${modifier.toFixed(2)}x XP modifier!`;\n    mood = 'blessed';\n  } else if (modifier <= 0.9) {\n    message = `A day of gentle learning awaits. ${modifier.toFixed(2)}x modifier.`;\n    mood = 'calm';\n  } else {\n    message = `A balanced day awaits, young adventurer. ${modifier.toFixed(2)}x modifier.`;\n    mood = 'neutral';\n  }\n  \n  return {\n    json: {\n      success: true,\n      timestamp: input.timestamp,\n      date: input.date,\n      modifier: parseFloat(modifier.toFixed(3)),\n      mood: mood,\n      message: message,\n      mood_factor: input.confidence,\n      streak_factor: input.streak_percent,\n      source: input.source\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      error_type: 'chaos_processing',\n      original: input\n    }\n  };\n}"
      },
      "id": "chaos-processor",
      "name": "Process Chaos Orb",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "chaos-success-check",
      "name": "Chaos Processed OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_chaos_orb",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "chaos-ha-webhook",
      "name": "Chaos -> Home Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chaos_Orb_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Modifier": "={{ $json.modifier }}",
            "Mood": "={{ $json.mood }}",
            "Message": "={{ $json.message }}"
          }
        },
        "options": {}
      },
      "id": "chaos-log-sheets",
      "name": "Chaos -> Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        780
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Routine processing\nconst input = $input.first().json;\n\ntry {\n  const routines = {\n    'brush_teeth_morning': {time: '09:00', category: 'SC', quest_id: 'SC001', xp: 15, gold: 10, tts: 'Time to brush your teeth!'},\n    'brush_teeth_evening': {time: '20:00', category: 'SC', quest_id: 'SC002', xp: 15, gold: 10, tts: 'Brush those teeth before bed!'},\n    'morning_stretch': {time: '07:30', category: 'PF', quest_id: 'PF001', xp: 20, gold: 15, tts: 'Morning stretch time! Wake up those muscles!'},\n    'bedtime_routine': {time: '20:30', category: 'TM', quest_id: 'TM001', xp: 20, gold: 15, tts: 'Time to start your bedtime routine!'},\n    'breakfast': {time: '08:00', category: 'SC', quest_id: 'SC010', xp: 15, gold: 10, tts: 'Breakfast time! Fuel up for adventure!'}\n  };\n  \n  const routineType = input.routine || 'brush_teeth_morning';\n  const config = routines[routineType] || routines['brush_teeth_morning'];\n  \n  return {\n    json: {\n      success: true,\n      timestamp: input.timestamp,\n      routine_type: routineType,\n      scheduled_time: config.time,\n      category: config.category,\n      quest_id: config.quest_id,\n      xp: config.xp,\n      gold: config.gold,\n      tts_message: config.tts,\n      escalation_level: 0,\n      status: 'started',\n      source: input.source\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      success: false,\n      error: error.message,\n      error_type: 'routine_processing',\n      original: input\n    }\n  };\n}"
      },
      "id": "routine-processor",
      "name": "Process Routine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "routine-success-check",
      "name": "Routine Processed OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_routine_start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "routine-ha-webhook",
      "name": "Routine -> Home Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        880
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Routine_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Routine": "={{ $json.routine_type }}",
            "Quest_ID": "={{ $json.quest_id }}",
            "Status": "={{ $json.status }}",
            "Escalation": "={{ $json.escalation_level }}"
          }
        },
        "options": {}
      },
      "id": "routine-log-sheets",
      "name": "Routine -> Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        980
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Health check processing\nconst input = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    timestamp: input.timestamp,\n    service: input._original?.service || 'general',\n    status: input._original?.status || 'ok',\n    metrics: input._original?.metrics || {},\n    source: input.source\n  }\n};"
      },
      "id": "health-processor",
      "name": "Process Health Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Health_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Service": "={{ $json.service }}",
            "Status": "={{ $json.status }}",
            "Metrics": "={{ JSON.stringify($json.metrics) }}"
          }
        },
        "options": {}
      },
      "id": "health-log-sheets",
      "name": "Health -> Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        1100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Other event fallback processing\nconst input = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    timestamp: input.timestamp,\n    event_type: input.event_type,\n    message: 'Event logged but no specific handler',\n    original: input._original,\n    source: input.source\n  }\n};"
      },
      "id": "other-processor",
      "name": "Process Other Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        1300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "All_Events_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Event_Type": "={{ $json.event_type }}",
            "Payload": "={{ JSON.stringify($json.original).substring(0, 500) }}",
            "Source": "={{ $json.source }}"
          }
        },
        "options": {}
      },
      "id": "other-log-sheets",
      "name": "Other -> Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        1300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, event: $('Validate & Normalize Input').first().json.event_type, timestamp: $now.toISO() }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Processing error', event: $('Validate & Normalize Input').first().json.event_type, timestamp: $now.toISO() }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error-processing",
      "name": "Respond: Processing Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        800
      ]
    }
  ],
  "connections": {
    "Phoenix Master Webhook": {
      "main": [
        [
          {
            "node": "Validate & Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Process Quest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Emotion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Sale",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Chaos Orb",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Routine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Health Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Other Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Quest": {
      "main": [
        [
          {
            "node": "Quest Processed OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quest Processed OK?": {
      "main": [
        [
          {
            "node": "Quest -> Home Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quest -> MQTT Backup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quest -> Sheets Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quest -> Home Assistant": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quest -> MQTT Backup": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quest -> Sheets Log": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Emotion": {
      "main": [
        [
          {
            "node": "Emotion Processed OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emotion Processed OK?": {
      "main": [
        [
          {
            "node": "Emotion -> Home Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Emotion -> Sheets Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emotion -> Home Assistant": {
      "main": [
        [
          {
            "node": "Needs Parent Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emotion -> Sheets Log": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Parent Alert?": {
      "main": [
        [
          {
            "node": "Alert Parent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Parent": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sale": {
      "main": [
        [
          {
            "node": "Sale Processed OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sale Processed OK?": {
      "main": [
        [
          {
            "node": "Sale -> Home Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sale -> Sheets Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sale -> Home Assistant": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sale -> Sheets Log": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Chaos Orb": {
      "main": [
        [
          {
            "node": "Chaos Processed OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chaos Processed OK?": {
      "main": [
        [
          {
            "node": "Chaos -> Home Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chaos -> Sheets Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chaos -> Home Assistant": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chaos -> Sheets Log": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Routine": {
      "main": [
        [
          {
            "node": "Routine Processed OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routine Processed OK?": {
      "main": [
        [
          {
            "node": "Routine -> Home Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Routine -> Sheets Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Processing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routine -> Home Assistant": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routine -> Sheets Log": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Health Check": {
      "main": [
        [
          {
            "node": "Health -> Sheets Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health -> Sheets Log": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Other Event": {
      "main": [
        [
          {
            "node": "Other -> Sheets Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other -> Sheets Log": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "phoenix"
    },
    {
      "name": "production"
    },
    {
      "name": "master"
    }
  ],
  "active": false,
  "versionId": "39275b40-741e-4ad9-a619-ac56a4c2549f",
  "id": "9d617a81",
  "meta": {
    "instanceId": "phoenix-forge"
  },
  "updatedAt": "2025-12-17T12:00:00.000Z",
  "createdAt": "2025-12-17T12:00:00.000Z"
}