n8n-workflow-phoenix-publisher.json
{
  "name": "Phoenix Auto Publisher Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phoenix-publisher",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Phoenix Publisher Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "phoenix-publisher"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-sale",
              "leftValue": "={{ $json.event }}",
              "rightValue": "sale",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-node",
      "name": "Event Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "content": "## Phoenix Publisher Event\n\n**Event:** {{ $json.event }}\n**Time:** {{ $json.timestamp }}\n**Product:** {{ $json.product }}\n\n### Results\n{{ JSON.stringify($json.results, null, 2) }}",
        "height": 400,
        "width": 400
      },
      "id": "note-node",
      "name": "Log Event",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [750, 150]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "noop-node",
      "name": "Process Event",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 350]
    }
  ],
  "connections": {
    "Phoenix Publisher Webhook": {
      "main": [
        [
          {
            "node": "Event Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Router": {
      "main": [
        [
          {
            "node": "Process Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "phoenix-forge"
    },
    {
      "name": "auto-publisher"
    }
  ]
}
