n8n-backup-scheduled.json
{
  "name": "Phoenix Scheduled Triggers [PRODUCTION]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 7
            }
          ]
        }
      },
      "id": "morning-trigger",
      "name": "7AM Morning Start",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Morning Chaos Orb calculation\nconst now = new Date();\n\n// Moon phase calculation\nconst refDate = new Date('2000-01-06T18:14:00Z');\nconst lunarMonth = 29.53058867;\nconst daysSinceRef = (now - refDate) / (1000 * 60 * 60 * 24);\nconst phase = (daysSinceRef % lunarMonth) / lunarMonth;\nconst moonFactor = 0.9 + Math.sin(phase * Math.PI) * 0.2;\n\n// Random factors\nconst baseMood = 0.5 + Math.random() * 0.3;\nconst streakFactor = 0.5; // Will be updated from sheets\nconst randomNudge = (Math.random() - 0.5) * 0.1;\n\nlet modifier = 1.0 * 0.4 + baseMood * 0.3 + moonFactor * 0.2 + streakFactor * 0.1 + randomNudge;\nmodifier = Math.max(0.8, Math.min(1.2, modifier));\n\nlet message, mood;\nif (modifier >= 1.1) {\n  message = `Good morning, young hero! The Chaos Orb shines bright today! ${modifier.toFixed(2)}x XP multiplier!`;\n  mood = 'blessed';\n} else if (modifier <= 0.9) {\n  message = `Good morning! A calm day awaits. ${modifier.toFixed(2)}x modifier. Perfect for deep learning.`;\n  mood = 'calm';\n} else {\n  message = `Good morning, adventurer! The Chaos Orb grants ${modifier.toFixed(2)}x modifier today!`;\n  mood = 'neutral';\n}\n\nreturn {\n  json: {\n    timestamp: now.toISOString(),\n    date: now.toISOString().split('T')[0],\n    event: 'chaos_orb_daily',\n    modifier: parseFloat(modifier.toFixed(3)),\n    mood: mood,\n    message: message,\n    moon_phase: parseFloat(moonFactor.toFixed(3)),\n    source: 'scheduled'\n  }\n};"
      },
      "id": "calc-morning-chaos",
      "name": "Calculate Morning Chaos Orb",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_chaos_orb",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "morning-chaos-ha",
      "name": "Morning Chaos -> HA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Chaos_Orb_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Calculate Morning Chaos Orb').first().json.date }}",
            "Modifier": "={{ $('Calculate Morning Chaos Orb').first().json.modifier }}",
            "Mood": "={{ $('Calculate Morning Chaos Orb').first().json.mood }}",
            "Moon_Phase": "={{ $('Calculate Morning Chaos Orb').first().json.moon_phase }}",
            "Message": "={{ $('Calculate Morning Chaos Orb').first().json.message }}"
          }
        },
        "options": {}
      },
      "id": "morning-chaos-sheets",
      "name": "Morning Chaos -> Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        700,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 9
            }
          ]
        }
      },
      "id": "brush-teeth-morning-trigger",
      "name": "9AM Brush Teeth",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_routine_start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"event\": \"routine\",\n  \"routine\": \"brush_teeth_morning\",\n  \"quest_id\": \"SC001\",\n  \"category\": \"SC\",\n  \"xp\": 15,\n  \"gold\": 10,\n  \"source\": \"scheduled\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "brush-morning-ha",
      "name": "Brush Morning -> HA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 20
            }
          ]
        }
      },
      "id": "brush-teeth-evening-trigger",
      "name": "8PM Brush Teeth",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_routine_start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"event\": \"routine\",\n  \"routine\": \"brush_teeth_evening\",\n  \"quest_id\": \"SC002\",\n  \"category\": \"SC\",\n  \"xp\": 15,\n  \"gold\": 10,\n  \"source\": \"scheduled\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "brush-evening-ha",
      "name": "Brush Evening -> HA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        500
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 20,
              "minute": 30
            }
          ]
        }
      },
      "id": "daily-summary-trigger",
      "name": "8:30PM Daily Summary",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        700
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quest_Log",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-quests-today",
      "name": "Read Today's Quests",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Calculate daily summary\nconst rows = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\n// Filter today's quests\nconst todayQuests = rows.filter(r => {\n  const ts = r.json.Timestamp || '';\n  return ts.startsWith(today);\n});\n\n// Calculate totals\nconst totalXP = todayQuests.reduce((sum, r) => sum + (parseInt(r.json.XP) || 0), 0);\nconst totalGold = todayQuests.reduce((sum, r) => sum + (parseInt(r.json.Gold) || 0), 0);\nconst questCount = todayQuests.length;\n\n// Category breakdown\nconst categories = {};\ntodayQuests.forEach(r => {\n  const cat = r.json.Category || 'Other';\n  categories[cat] = (categories[cat] || 0) + 1;\n});\n\nconst catSummary = Object.entries(categories)\n  .map(([k, v]) => `${k}: ${v}`)\n  .join(', ');\n\n// Build message\nlet message;\nif (questCount === 0) {\n  message = \"No quests completed today. Tomorrow is a new adventure!\";\n} else if (questCount >= 10) {\n  message = `AMAZING DAY! ${questCount} quests completed! +${totalXP} XP, +${totalGold} Gold! Categories: ${catSummary}`;\n} else if (questCount >= 5) {\n  message = `Great day! ${questCount} quests done! +${totalXP} XP, +${totalGold} Gold! (${catSummary})`;\n} else {\n  message = `${questCount} quests today. +${totalXP} XP, +${totalGold} Gold. (${catSummary})`;\n}\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    date: today,\n    quest_count: questCount,\n    total_xp: totalXP,\n    total_gold: totalGold,\n    categories: categories,\n    message: message,\n    event: 'daily_summary'\n  }\n};"
      },
      "id": "calc-daily-summary",
      "name": "Calculate Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_daily_summary",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "daily-summary-ha",
      "name": "Daily Summary -> HA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yaWYcadyfY3Yquanh9cYG2gR42sp77U3puXPzQ6CPIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Daily_Summary",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Quest_Count": "={{ $json.quest_count }}",
            "Total_XP": "={{ $json.total_xp }}",
            "Total_Gold": "={{ $json.total_gold }}",
            "Categories": "={{ JSON.stringify($json.categories) }}",
            "Message": "={{ $json.message }}"
          }
        },
        "options": {}
      },
      "id": "daily-summary-sheets",
      "name": "Daily Summary -> Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        900,
        700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "health-check-trigger",
      "name": "Every 15min Health Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        900
      ]
    },
    {
      "parameters": {
        "jsCode": "// System health check\nconst now = new Date();\n\nreturn {\n  json: {\n    timestamp: now.toISOString(),\n    event: 'health_check',\n    service: 'n8n',\n    status: 'ok',\n    uptime: process.uptime ? process.uptime() : 0,\n    memory: process.memoryUsage ? process.memoryUsage().heapUsed : 0,\n    source: 'scheduled'\n  }\n};"
      },
      "id": "health-check-data",
      "name": "Generate Health Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        900
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.12.207:8123/api/",
        "options": {
          "timeout": 5000
        }
      },
      "id": "check-ha-health",
      "name": "Check HA Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        900
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Combine health results\nconst healthData = $('Generate Health Data').first().json;\nconst haResponse = $input.first().json;\n\nconst haStatus = haResponse.message === 'API running.' ? 'ok' : 'error';\n\nreturn {\n  json: {\n    ...healthData,\n    services: {\n      n8n: 'ok',\n      homeassistant: haStatus\n    },\n    ha_response: haResponse\n  }\n};"
      },
      "id": "combine-health",
      "name": "Combine Health Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        900
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 12
            }
          ]
        }
      },
      "id": "midday-trigger",
      "name": "12PM Midday Check-in",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_midday_checkin",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"event\": \"midday_checkin\",\n  \"message\": \"Midday check-in! How are you feeling? Have you completed any quests?\",\n  \"source\": \"scheduled\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "midday-ha",
      "name": "Midday Check-in -> HA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hour": 21
            }
          ]
        }
      },
      "id": "bedtime-trigger",
      "name": "9PM Bedtime Routine",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.12.207:8123/api/webhook/phoenix_routine_start",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"event\": \"routine\",\n  \"routine\": \"bedtime_routine\",\n  \"quest_id\": \"TM001\",\n  \"category\": \"TM\",\n  \"xp\": 20,\n  \"gold\": 15,\n  \"message\": \"Time for your bedtime routine! Brush teeth, pajamas, and story time!\",\n  \"source\": \"scheduled\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "bedtime-ha",
      "name": "Bedtime Routine -> HA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        1300
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "7AM Morning Start": {
      "main": [
        [
          {
            "node": "Calculate Morning Chaos Orb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Morning Chaos Orb": {
      "main": [
        [
          {
            "node": "Morning Chaos -> HA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Morning Chaos -> Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9AM Brush Teeth": {
      "main": [
        [
          {
            "node": "Brush Morning -> HA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8PM Brush Teeth": {
      "main": [
        [
          {
            "node": "Brush Evening -> HA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8:30PM Daily Summary": {
      "main": [
        [
          {
            "node": "Read Today's Quests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today's Quests": {
      "main": [
        [
          {
            "node": "Calculate Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Daily Summary": {
      "main": [
        [
          {
            "node": "Daily Summary -> HA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Daily Summary -> Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15min Health Check": {
      "main": [
        [
          {
            "node": "Generate Health Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Health Data": {
      "main": [
        [
          {
            "node": "Check HA Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HA Health": {
      "main": [
        [
          {
            "node": "Combine Health Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12PM Midday Check-in": {
      "main": [
        [
          {
            "node": "Midday Check-in -> HA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9PM Bedtime Routine": {
      "main": [
        [
          {
            "node": "Bedtime Routine -> HA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "phoenix"
    },
    {
      "name": "production"
    },
    {
      "name": "scheduled"
    }
  ],
  "active": false,
  "versionId": "5d1b8f92-45eb-4dd8-a8db-8ca126acbea6",
  "id": "69314faf",
  "meta": {
    "instanceId": "phoenix-forge"
  },
  "updatedAt": "2025-12-17T12:00:00.000Z",
  "createdAt": "2025-12-17T12:00:00.000Z"
}